<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/styles.css">
</head>
<form th:method="GET" th:action="@{/hotel_california}">
    <input type="submit" value="To homepage"/>
</form>
<body>
<h1>

    <span th:if="${roomNumber != null}" th:text="'Information about room ' + ${roomNumber}"></span>
    <span th:if="${classType != null}" th:text="'List of rooms: ' + ${classType}"></span>
    <span th:if="${all != null}" th:text="${all} + ' rooms'"></span>
</h1>
<br/>
<table>
    <tbody>
    <tr>
        <td>
            <form th:method="GET" th:action="@{/hotel_california/room}">
                <label for="number">Enter room number:</label>
                <br/>
                <input type="text" name="roomNumber" th:value="${roomNumber}"
                       required
                       id="number" pattern="[0-9]+" minlength="2"
                       title="Min 2 digit characters are required!"
                       placeholder="Enter room number"/>
                <br/>
                <input type="submit" value="Find by room number"/>
            </form>
        </td>
        <td>
            <form th:method="GET" th:action="@{/hotel_california/room}">
                <label for="class">Enter class type:</label>
                <br/>
                <input type="text" name="classType" th:value="${classType}" id="class"
                       required
                       pattern="(cheap|medium|expensive|luxury)"
                       title="Should be 'cheap', 'medium', 'expensive' or 'luxury'!"
                       placeholder="Literals only!"/>
                <br/>
                <input type="submit" value="Find by class type"/>
            </form>
        </td>
        <td style="width: 20%;">
            <form th:method="GET" th:action="@{/hotel_california/room/new}">
                <input type="submit" value="Create new room"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>Room number</th>
        <th>Class type</th>
        <th>Price</th>
        <th>Phone Number</th>
        <th>Booking info</th>
        <th>Edit/delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r : ${rooms}">
        <td th:text="${r.roomNumber}"></td>
        <td th:text="${r.classType}"></td>
        <td th:text="${r.price}"></td>
        <td th:text="${r.phoneNumber}"></td>
        <td>
            <form th:method="GET" th:action="@{/hotel_california/booking/room_info}">
                <input type="hidden" name="roomNumber" th:value="${r.roomNumber}"/>
                <input type="submit" value="Find booking info"/>
            </form>
        </td>
        <td>
            <form th:method="GET" th:action="@{/hotel_california/room/{id}(id=${r.id})}">
                <input type="submit" value="Edit/delete"/>
            </form>
        </td>
    </tr>
    <tr th:if="${rooms.size() == 0}">
        <td colspan="6">
            <p style="text-decoration: underline; font-weight: bold; color: red;">
                Rooms list is empty!</p>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function confirmSubmit(formId) {
       if (confirm("Are you sure?")) {
           document.getElementById(formId).submit();
        } else {
           return false;
        }
    }
</script>

</body>
</html>