<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/styles.css">
</head>
<form th:method="GET" th:action="@{/hotel_california}">
    <input type="submit" value="To homepage"/>
</form>
<body>
<h1 th:text="'Information about room ' + ${room.roomNumber}"></h1>
<br/>
<table>
    <thead>
    <tr>
        <th>Room number</th>
        <th>Class type</th>
        <th>Price</th>
        <th>Phone number</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${room.roomNumber}"></td>
        <td th:text="${room.classType}"></td>
        <td th:text="${room.price}"></td>
        <td th:text="${room.phoneNumber}"></td>
        <td>
            <form id="deleteForm" th:method="DELETE" th:action="@{/hotel_california/room/{id}(id=${room.id})}">
                <input type="submit" value="Delete room" onclick="confirmSubmit('deleteForm')"/>
            </form>
        </td>
    </tr>
    <tr>
    <tr>
        <br/>
    </tr>
    <th colspan="5">
        <p style="text-decoration: underline; font-weight: bold; color: black;">
            Edit room information</p>
    </th>
    </tr>
    <tr>
        <form id="editForm" th:method="PATCH"
              th:action="@{/hotel_california/room/{id}(id=${room.id})}"
              th:object="${room}">
            <td>
                <label for="roomNumber">Enter room number:</label>
                <br/>
                <input type="text" th:field="*{roomNumber}" id="roomNumber"
                       required
                       pattern="[0-9]+" minlength="2"
                       title="Min 2 digit characters are required!"
                       placeholder="Digits only!"/>
            </td>
            <td>
                <label for="classType">Enter class type:</label>
                <br/>
                <input type="text" th:field="*{classType}" id="classType"
                       required
                       pattern="(cheap|medium|expensive|luxury)"
                       title="Should be 'cheap', 'medium', 'expensive' or 'luxury'!"
                       placeholder="Literals only!"/>
            </td>
            <td>
                <label for="price">Enter price:</label>
                <br/>
                <input type="number" th:field="*{price}" id="price" step="any"
                       required
                       title="Only numbers required!"
                       placeholder="Digits only!"/>
                <div style="color:red" th:if="${#fields.hasErrors('price')}"
                     th:errors="*{price}"></div>
            </td>
            <td>
                <label for="phoneNumber">Enter phone number:</label>
                <br/>
                <input type="text" th:field="*{phoneNumber}" id="phoneNumber"
                       required
                       pattern="[0-9]+" minlength="2"
                       title="Min 2 digit characters are required!"
                       placeholder="Digits only!"/>
            </td>
            <td>
                <input type="submit" value="Update room" onclick="confirmSubmit('editForm')"/>
            </td>
        </form>
    </tr>
    </tbody>
</table>

<script>
    function confirmSubmit(formId) {
       if (confirm("Are you sure?")) {
           document.getElementById(formId).submit();
        } else {
           event.preventDefault();
           return false;
        }
    }
</script>

</body>
</html>